@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap');
$f-family-primary: 'Montserrat', sans-serif;
$f-primary-blue:#0D0F27;
$f-secondary-blue:#1D2046;
$f-white:#FFFFFF;
$f-grey:#A2A0A0;
$f-secondary-grey:#dbdbdb;