{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}
{% block navbar %}
{% endblock %}
{% block body %}
<style>
    body{
        background-image: linear-gradient(180deg, #0D0F27,#272C6D);
        height:100vh;
    }
</style>

<div class="example-wrapper">
    <form action="" method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}
        <a href="{{ path('forum') }}"><h1 class="has-text-centered is-size-1 has-text-white has-text-weight-bold">Forum</h1></a>
        <h2 style="text-align: center; color:whitesmoke; font-size: 48px;">Sign In</h2>

        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

        <div class="field">
            <div class="control">
                <input class="input is-rounded" type="email" placeholder="email" name="email">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <input class="input is-rounded" type="password" placeholder="password" name="password">
            </div>
        </div>

        <div class="field">
            <div class="control">
                <button type="submit" class="is-rounded button is-light is-outlined" style="width:100%">Sign In</button>
            </div>
        </div>

        <div class="field">
            <div class="control has-text-centered">
                <a href="{{ path('sec_register') }}" class="is-text has-text-white" style="width:100%"><u>Create Account</u></a>
            </div>
        </div>

    </form>
</div>
{% endblock %}
