{% extends 'base.html.twig' %}

{% block title %}Hello SecurityController!{% endblock %}

{% block body %}
    {{ form_start(regForm) }}
    {{ form_widget(regForm) }}
    <button type="submit">Register</button>
    {{ form_end(regForm) }}
{% endblock %}
