{% extends 'base/__header.html.twig' %}
{% block thread %}
    <div class="column is-12">
        <span class="has-text-primary has-text-weight-semibold">{{ slug }}</span>
    </div>
    <div class="column is-12 has-background-primary mr-5 ml-5 p-5 mb-5">
        <div class="columns is-mobile">
            <div class="column is-1-desktop is-1-tablet is-2-mobile">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/32x32.png">
                </figure>
            </div>
            <div class="column has-text-white">
                <div>
                    <span class="has-text-weight-bold">Skim</span> <small>(26 dasdays ago)</small>
                </div>
                <div class="has-background-grey-lighter">
                    <p class="has-text-dark p-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusamus ad architecto consectetur ipsam, laborum maxime modi
                        natus omnis perspiciatis repellat. Aut dolorem eum exercitationem ipsum quae quo voluptatibus. Aperiam, voluptatem.
                    </p>
                </div>
            </div>
        </div>
        <hr>
        <div class="columns is-mobile">
            <div class="column is-1-desktop is-1-tablet is-2-mobile">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/32x32.png">
                </figure>
            </div>
            <div class="column has-text-white">
                <div>
                    <span class="has-text-weight-bold">Skim</span> <small>(26 dasdays ago)</small>
                </div>
                <div class="has-background-grey-lighter">
                    <p class="has-text-dark p-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusamus ad architecto consectetur ipsam, laborum maxime modi
                        natus omnis perspiciatis repellat. Aut dolorem eum exercitationem ipsum quae quo voluptatibus. Aperiam, voluptatem.
                    </p>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-1-desktop is-1-tablet is-2-mobile">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/32x32.png">
                </figure>
            </div>
            <div class="column has-text-white">
                <div>
                    <span class="has-text-weight-bold">Skim</span> <small>(26 dasdays ago)</small>
                </div>
                <div class="has-background-grey-lighter">
                    <p class="has-text-dark p-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusamus ad architecto consectetur ipsam, laborum maxime modi
                        natus omnis perspiciatis repellat. Aut dolorem eum exercitationem ipsum quae quo voluptatibus. Aperiam, voluptatem.
                    </p>
                </div>
            </div>
        </div>
        <div class="columns is-mobile">
            <div class="column is-1-desktop is-1-tablet is-2-mobile">
                <figure class="image is-64x64">
                    <img src="https://bulma.io/images/placeholders/32x32.png">
                </figure>
            </div>
            <div class="column has-text-white">
                <div>
                    <span class="has-text-weight-bold">Skim</span> <small>(26 dasdays ago)</small>
                </div>
                <div class="has-background-grey-lighter">
                    <p class="has-text-dark p-5">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Accusamus ad architecto consectetur ipsam, laborum maxime modi
                        natus omnis perspiciatis repellat. Aut dolorem eum exercitationem ipsum quae quo voluptatibus. Aperiam, voluptatem.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}