{% extends 'base.html.twig' %}

{% block title %}Hello BaseController!{% endblock %}

{% block body %}

    <div class="columns hompage-margin-top">
        {#Homepage side component#}
        <div class="column is-one-quarter">
            <p class="has-text-grey-light">Categories</p>
            <a href="#">
                <p class="has-text-weight-semibold has-background-grey-lighter has-text-primary">Hot</p>
            </a>
            <a href="#">
                <p class="has-text-weight-semibold has-text-primary">Anime</p>
            </a>
            <a href="#">
                <p class="has-text-weight-semibold has-text-primary">Anime</p>
            </a>
            <a href="#">
                <p class="has-text-weight-semibold has-text-primary">Anime</p>
            </a>
            <a href="#">
                <p class="has-text-weight-semibold has-text-primary">Anime</p>
            </a>
            <a href="#">
                <p class="has-text-weight-semibold has-text-primary">Anime</p>
            </a>
            <a href="#">
                <p class="has-text-weight-semibold has-text-primary">Anime</p>
            </a>
            <a href="#">
                <p class="has-text-weight-semibold has-text-primary">Anime</p>
            </a>
        </div>
        {#Forum Component#}
        <div class="column">
        </div>
    </div>
{% endblock %}
