<footer class="footer has-background-grey-lighter">
    <div class="content has-text-centered">
        <p>
            <strong>Created with Bulma & Symfony</strong> by <a href="https://web.facebook.com/AngryRoar">Brian David Tabuada</a> & <a href="https://www.facebook.com/benching.benching">Jordan Lacandula</a>.
        </p>
    </div>
</footer>