<nav class="navbar">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item forum-nav-font has-text-weight-semibold" href="#">
                FORUM
            </a>
            <div class="navbar-burger burger is-active" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu is-active">
            <div class="navbar-end">
                <a class="navbar-item forum-nav-font" href="#">Sign In</a>
            </div>
        </div>
    </div>
</nav>